################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AOC2024
/.vs
/Win32/Debug
/__history
/__recovery
*.local
*.identcache
*.cbk
/2015/__history
/2015/__recovery
/2024/__history
